body {
  overflow: hidden;
  font-family:
    "PingFang SC", "Microsoft YaHei", "Source Han Sans CN", SimHei, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $color-black;
  background-color: #ffffff;
}

/* 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

/* 定义滚动条轨道 内阴影+圆角 */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 6px;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 0%);
}

/* 定义滑块 内阴影+圆角 */
::-webkit-scrollbar-thumb {
  background-color: rgb(144 147 153 / 60%);
  border-radius: 6px;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 10%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(144 147 153 / 80%);
}
