/** 单行文本溢出时显示省略号 */
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/** 多行文本溢出时显示省略号 */
@mixin row-ellipsis($row: 2) {
  display: box;
  overflow: hidden;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
}

// 禁止文本被选择
@mixin user-select {
  user-select: none;
}

// 清除浮动
@mixin clearfix {
  *zoom: 1;

  &::after {
    display: block;
    width: 0;
    height: 0;
    clear: both;
    visibility: hidden;
    content: "";
  }
}

// 单位前缀
@mixin unit-before($unit: "￥") {
  &::before {
    margin-right: 2px;
    content: $unit;
  }
}

// 三角形
@mixin triangle($direction: "up", $sizeW: 20px, $sizeH: 8px, $color: #111111) {
  display: block;
  width: 0;
  height: 0;

  @if $direction == "up" {
    border-right: 1 / 2 * $sizeW solid transparent;
    border-bottom: $sizeH solid $color;
    border-left: 1 / 2 * $sizeW solid transparent;
  } @else if $direction == "down" {
    border-top: $sizeH solid $color;
    border-right: 1 / 2 * $sizeW solid transparent;
    border-left: 1 / 2 * $sizeW solid transparent;
  } @else if $direction == "left" {
    border-top: 1 / 2 * $sizeW solid transparent;
    border-right: $sizeH solid $color;
    border-bottom: 1 / 2 * $sizeW solid transparent;
  } @else if $direction == "right" {
    border-top: 1 / 2 * $sizeW solid transparent;
    border-bottom: 1 / 2 * $sizeW solid transparent;
    border-left: $sizeH solid $color;
  }
}
