@charset "utf-8";

html {
  line-height: 1.2;
  text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
main,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
  border: 0;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
i,
strong {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: bold;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
main,
footer,
header,
hgroup,
menu,
nav,
section,
iframe {
  display: block;
}

input,
button,
optgroup,
textarea,
select {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  border: none;
  outline: 0 none;
}

audio,
canvas {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

ol,
ul,
li,
menu {
  list-style: none;
}

a,
ins,
s,
u,
del {
  color: #111111;
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[hidden] {
  display: none;
}
