/* stylelint-disable property-no-unknown */
:export {
  header-height: $header-height;
  sidebar-width: $sidebar-width;
  sidebar-width-collapse: $sidebar-width-collapse;
  menu-bg: $menu-bg;
  menu-text: $menu-text;
  menu-active-text: $menu-active-text;
  color-back: $color-black;
  color-gray: $color-gray;
  color-blue: $color-blue;
  color-red: $color-red;
  color-green: $color-green;
  color-yellow: $color-yellow;
  bg-color-gray: $bg-color-gray;
}
/* stylelint-enable property-no-unknown */
